@model IEnumerable<WeightTracker.Entities.MeasurementRecord>

@{
   ViewData["Title"] = "Index";
   Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Measurements [cm]</h1>

<p>
   <a asp-action="Create">Create New</a>
</p>
<table class="table">
   <thead>
      <tr>
         <th>
            @Html.DisplayNameFor(model => model.Chest)
         </th>
         <th>
            @Html.DisplayNameFor(model => model.Biceps)
         </th>
         <th>
            @Html.DisplayNameFor(model => model.Waist)
         </th>
         <th>
            @Html.DisplayNameFor(model => model.Hips)
         </th>
         <th>
            @Html.DisplayNameFor(model => model.Thigh)
         </th>
         <th>
            @Html.DisplayNameFor(model => model.Calf)
         </th>
         <th>
            @Html.DisplayNameFor(model => model.Height)
         </th>
         <th>
            @Html.DisplayNameFor(model => model.Weight) [kg]
         </th>
         <th>
            @Html.DisplayNameFor(model => model.TimeStamp)
         </th>
         <th></th>
      </tr>
   </thead>
   <tbody>
      @await Html.PartialAsync("_MeasurementListPartial", Model)
   </tbody>
</table>
